.h-center {
  text-align: center;
}
.middle {
  margin-left: auto;
  margin-right: auto;
}
.user-nav {
  margin-top: 10px;

  .dropdown-menu {
    left: auto;
    right: 0;
  }

  .dropdown-toggle .caret {
    margin-left: 3px;
  }
}
#words_bag text:hover {
  opacity: .7;
}
